{:database {:host     #env DATABASE_HOST
            :db       #env DATABASE_NAME
            :user     #env DATABASE_USER
            :password #env DATABASE_PASSWORD
            :useSSL   #env DATABASE_USE_SSL}
 :ssl-data {:key-store   {:file-path #or [#env KEYSTORE_FILE_PATH ""]
                          :password  #or [#env KEYSTORE_PASSWORD ""]}
            :trust-store {:file-path #or [#env TRUSTSTORE_FILE_PATH ""]
                          :password  #or [#env TRUSTSTORE_PASSWORD ""]}}}